<div class="footer">
	<div class="content_wrapper">
		{{widget('companyname', 'wf_companyname', {"business": "profile", "align":"center"})|raw}}
		<div class="profile_widgets">
			{{widget('profile', 'wf_profile_1', { 'profileType':'address' })|raw}}
			{{widget('profile', 'wf_profile_2', { 'profileType':'companydescription' })|raw}}
		</div>
	</div>
</div>
