<div class="header">
	<div class="nav-bar">
		{% if pages|length > 1 %}
			{{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
		{% endif %}

		{{widget('profile', 'w_profile_1', { 'profileType':'socialicons', "showTplWidget":"0" })|raw}}
	</div>
		
	<div class="company">
		{{widget('logo', 'w_logo', {"defaultlogo": asset('images/logo.png')})|raw}}
		{{widget('companyname', 'w_companyname', {"business": "profile", "align":"center"})|raw}}
	</div>
</div>